html { 
  background: url(image/mountain.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p{ line-height: 1em; }
h1, h2, h3, h4{
    color: blue;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
a{
	color: black;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }

body{
    font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
}

#page{ margin: 20px; }


#logo{
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}

#nav{
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 62px;
		}
			#nav ul li a{
				padding: 20px;
				background: #6699CC;
				color: white;
			}
			#nav ul li a:hover{
				background-color: #3366CC;
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color: #33CC00; }

#content{
	margin: 30px 0;
	background: purple;
	padding: 20px;
	clear: both;
}
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}
.menu-btn div {
    position: absolute;
    left: 100%;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 30px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
}
 
.menu-btn span {
    display: block;
    width: 30px;
    height: 30px;
    margin: 30px 0;
    background: rgb(0,0,0);
    z-index: 99;
}
 
.responsive-menu{
    display: none;
}
 
.expand {
    display: block !important; 
}
#content,
ul li a{ box-shadow: 0px 1px 1px #999; }